.top_link {
  text-decoration: none;
  color: black;
  text-align: right;
}

.top_link:hover {
  text-decoration: underline;
  color: blue;
  text-align: right;
}

.picture{
  margin-top: 100px;
}

.Search_g {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding-left:15px;
  padding-right:15px;
  border: solid 1px #373c44;
}
.btn-light {
  border-radius: 10px;
  border: solid 1px #373c44;
}
.picture {
  position:relative;
  margin-top: 100px;
}
.undername {
  position:absolute;
  left:215px;
  bottom:0;
  white-space:nowrap; 
  color:blue;
}
.minigoogle{
  width: 94px;
  height: 34px;
}
.undertitle {
  font: bold;
  font-family: 'Times New Roman', Times, serif;
  color: red;
  font-size: 24px;
}
.top_word{
  margin-top: 15px;
}
.word{
  margin-top: 15px;
}
.b_word{
  position: relative;
  right: 220px;
  margin-top: 15px;
}
.submit-right{
  font: white;
    display: flex;
    width: 649px;
    justify-content: flex-end;
}
